<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="picture">
      Resultado da Foto
    </ion-title>
    <ion-title *ngIf="!picture">
      Tire sua Foto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="picture">
    
    <ion-card *ngIf="picture">
      <ion-card-header>
        Imagem capturada:
      </ion-card-header>
      <ion-card-content>
        <img *ngIf="picture" [src]="picture" alt="Foto que foi tirada">
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="newPicture">
      <ion-card-header>
        Imagem após corte:
      </ion-card-header>
      <ion-card-content>
        <img [src]="newPicture" alt="Foto que após corte.">
      </ion-card-content>
    </ion-card>

    
    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button (click)="startCamera()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button (click)="cortar(fileUrl)" [disabled]="!fileUrl">
        <ion-icon name="crop"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="avancar()">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


  <div *ngIf="!picture">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="capturaFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button (click)="fixarFoco()">
        <ion-icon name="radio-button-on"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="autoFoco()">
        <ion-icon name="aperture"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>


</ion-content>