<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultado gráfico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Histograma
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mensagem">
    <ion-card-header>
      Imagem
    </ion-card-header>
    <ion-card-content>
     <img [src]="mensagem" alt="">
    </ion-card-content>
  </ion-card>

</ion-content>