<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultado gráfico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Histograma Vermelho
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-header>
      Histograma Verde
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas2></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-header>
      Histograma Azul
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas3></canvas>
    </ion-card-content>
  </ion-card>


  

  <ion-button *ngIf="listaB" (click)="geraCsv()">Gerar CSV</ion-button>

  
  <!-- <p>{{analiserService.resposta | json}}</p> -->

</ion-content>